<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- bootstrap CDN stylesheet and javascript -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  </head>
  <body>
    <form method = "POST" action = "/post-new-guest-comment"> 
        <div class="form-group">
          <label for="comment_title">Title</label>
          <input type="text" class="form-control" id="comment_title" placeholder="Comment Title" name ="comment_title">
          <small id="titleHelp" class="form-text text-muted">Enter a short title for the comment.</small>
        </div>
        <div class="form-group">
          <label for="comment_author">Your Name</label>
          <input type="text" class="form-control" id="comment_author" placeholder="Name" name ="comment_author">
          <small id="authorHelp" class="form-text text-muted">Enter your name so we know who you are.</small>
        </div>
        <div class="form-group">
          <label for="comment_content">Things to say about Keanu</label>
          <input type="text" class="form-control" id="comment_content" placeholder="Comment" name ="comment_content">
          <small id="contentHelp" class="form-text text-muted">Enter your comments, but please be nice.</small>
        </div>
        <button type="submit" class="btn btn-primary">Post Comment</button>
      </form>
  </body>
</html>
